# mysql
DATABASE_URL=mysql://root:password@database:3306/app

JWT_ACCESS_SECRET=''
JWT_REFRESH_SECRET=''
JWT_ACCESS_EXPIRATION_IN_SECONDS=900 # 15 min
JWT_REFRESH_EXPIRATION_IN_SECONDS=86400 # 24hrs

#redis
REDIS_URL=redis://redis:6379

STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_DEVICE_NAME=go-fit-shop-dev
NEXTJS_URL=http://localhost:80

# Ollama
OLLAMA_HOST=http://ollama:11434
OLLAMA_LLM_MODEL=mistral:7b
OLLAMA_EMBEDDING_MODEL=qwen3-embedding:4b
OLLAMA_EMBEDDING_MODEL_DIMENSION=1024

# QDRANT #

QDRANT_URL=http://qdrant:6333